<% await (async  ()=>{ %>
    <h5 class="text-center text-secondary">Other checks with same name</h5>
    <% for (const ch of lastChecksWithSameName) { %>
        <% const url = `/checkview?id=${ch._id}`; %>
        <%
            const baselineResponse = await fetch(`/snapshot/${ch.baselineId}/`);
            const baseline = JSON.parse(await baselineResponse.text());
            console.log({ check });
        %>
        <% const imageSrc = `snapshoots/${baseline.filename ||  baseline._id + '.png'}`; %>
        <div class="p-1 pt-3 <%= check._id === ch._id ? 'bg-secondary' : '' ;%> d-flex">
            <a class="unlink small pl-2 pr-2"
               onclick="document.location.href = '<%= url ;%>'"
               href="javascript:void(0);">
                <div class="card mb-3 bg-item-<%= ch.status[0] ;%> text-light text-center" style="cursor: pointer">
                    <img class="card-img-top" src="<%= imageSrc ;%>" alt="Card image cap">
                    <div class="card-body p-2">
                        <!--VIEWPORT-->
                        <h6 class="card-title1 h5 mb-0 d-inline-block"><%= ch.viewport ;%></h6>
                        <!--ICON BROWSER-->
                        <% const browserIconMap = {
                            chrome: 'fab fa-chrome',
                            'chrome [HEADLESS]': 'fab fa-chrome',
                            Chrome: 'fab fa-chrome',
                            firefox: 'fab fa-firefox',
                            Firefox: 'fab fa-firefox',
                            msedge: 'fab fa-edge',
                            Msedge: 'fab fa-edge',
                            Safari: 'fab fa-safari',
                            safari: 'fab fa-safari',
                            'internet explorer': 'fab fa-internet-explorer'
                        }; %>
                        <% const browserVersion = (ch.browserVersion === 'undefined') ? '?' : ch.browserVersion; %>
                        <% const iconType = browserIconMap[ch.browserName] ? browserIconMap[ch.browserName] : 'fas fa-question'; %>
                        <i class="h6 d-inline <%= iconType ;%>"
                           title="<%= ch.browserName ;%> <%= ch.browserVersion ;%>"
                           data-toggle="tooltip"
                           data-placement="top"
                        ></i>
                        <!--PLATFORM-->
                        <% const osIconMap = {
                            'Linux x86_64': 'fab fa-linux',
                            'iPhone XS': 'fas fa-mobile-alt',
                            'Samsung Galaxy Tab S4': 'fas fa-tablet-alt',
                            'Win32': 'bi bi-windows',
                            'WINDOWS': 'bi bi-windows',
                            'MacIntel': 'fab fa-apple',
                            'macOS': 'fab fa-apple',
                        }; %>
                        <i class="h6 <%= osIconMap[ch.os] ? osIconMap[ch.os] : 'fas fa-question' ;%>"></i>
                        <span name="cell-os" class="text-primary small hide"><%= ch.os ;%></span>
                    </div>
                </div>
                <div class="bg-<%= ch.status[0] ;%> ml-2 mb-0" style="width: 20px"></div>
            </a>
        </div>
    <% } %>
<% })(); %>
