<div class="col-auto text-light">
    <div class="row align-items-center justify-content-end vcenter" style="font-size: 1.2rem">
        <!--PREVIOUS ARROW-->
        <div class="col-auto btn-check pl-1 pr-1 pt-0 d-lg-none d-md-none d-xl-inline-block" disabled="true"
             style="margin-top: 2px;"
        >
            <a id="previous" type="button"
               class="vcenter-item pl-1 pr-1 pt-0 pb-0 mb-0 border-0 unlink"
               title="previous check in the test (Alt + Left arrow)"
               href="javascript:void(0)"
            >
                <i class="bi bi-caret-left"></i>
            </a>
        </div>

        <!--COUNT-->
        <div class="col-auto btn-check pl-0 pr-0 pt-0 d-lg-none d-md-none d-xl-inline-block small"
             style="margin-top: 2px;"
        >
           <span id="check_count" style="font-weight: 200"><%=currentCheckIndex + 1 %>/<%=countOfChecksWithSameTestId%></span>
        </div>

        <!--NEXT ARROW-->
        <div class="col-auto btn-check pl-1 pr-1 border-right border-header d-lg-none d-md-none d-xl-inline-block" disabled="true"
             style="margin-top: 2px;"
        >
            <a id="next" type="button"
               title="next check in the test (Alt + Right arrow)"
               class="vcenter-item pl-1 pr-1 pt-0 pb-0 mb-0 unlink"
               href="javascript:void(0)"
               >
                <i class="bi bi-caret-right"></i>
            </a>
        </div>

        <!--ZOOM IN-->
        <div class="col-auto btn-check pl-1 pr-1 d-lg-none d-md-none d-xl-inline-block"
             onclick="mainView.zoom(15)"
             style="margin-top: 2px;"
        >
            <a id="zoom_in" type="button"
               class="vcenter-item pl-1 pr-1 pt-0 pb-0 mb-0 border-0 rounded"
               title="zoom in (+ or use Ctrl + mouse wheel)"
            >
                <i class="bi bi-zoom-in"></i>
            </a>
        </div>
        <!--ZOOM OUT-->
        <div class="col-auto btn-check pl-1 pr-1 d-lg-none d-md-none d-xl-inline-block"
             style="margin-top: 2px;"
        >
            <a id="zoom_out" type="button"
               title="zoom out (- or use Ctrl + mouse wheel)"
               class="vcenter-item pl-1 pr-1 pt-0 pb-0 mb-0 border-0 rounded"
               onclick="mainView.zoom(-15)">
                <i class="bi bi-zoom-out"></i>
            </a>
        </div>

        <!--TOGGLE GRAB MODE-->
        <div class="col-auto d-lg-none d-md-none d-xl-inline-block btn-check pl-1 pr-1 pt-0" id="grab-wrapper"
             style="margin-top: -2px;"
             onclick="toggleButtonAsPressed('grab-wrapper'); mainView.currentMode.toggle('pan')">
            <a id="grab" type="button"
               title="grab the viewport (G)"
               class="vcenter-item pl-1 pr-1 pt-0 pb-0 mb-0 border-0 rounded"
            >
                <i class="far fa-hand-rock"></i>
            </a>
        </div>

        <!--TOGGLE DIFF-->
        <% if (actualSnapshot && diffSnapshot) { %>
            <div class="col-auto btn-check pl-1 pr-1 pt-0 border-left border-header" id="diff-wrapper"
                 onclick="mainView.toggleDiff({ filename: '<%= diffSnapshot.filename; %>' })"
            >

                <a id="toggle-diff" type="button"
                   title="toggle diff (D)"
                   class="vcenter-item pl-0 pr-0 pt-0 pb-0 border-0"
                   style="margin-top: -2px;"
                >
                    <i class="bi bi-arrow-left-right"></i>
                </a>
            </div>
        <% } %>

        <!--ACTUAL VIEW-->
        <% if (actualSnapshot) { %>
            <div class="col-auto btn-check pl-1 pr-1 pt-0 border-header" id="actual-wrapper"
                 onclick="mainView.toggleActual(<%= JSON.stringify(actualSnapshot) %>);">
                <a id="toggle-actual-baseline" type="button"
                   title="switch to actual snapshot (current is baseline)"
                   class="vcenter-item pl-1 pr-1 pt-0 pb-0 border-0 noselect"
                   style="margin-top: -2px; font-weight: 200"
                >
                    B
                </a>
            </div>
        <% } %>
        <!--SIDE TO SIDE VIEW-->
        <% if (actualSnapshot) { %>
            <div class="col-auto btn-check pl-1 pr-1 pt-0 border-right border-header" id="side-wrapper"
                 onclick="mainView.toggleSideToSideView();"
            >
                <a id="toggle-side" type="button"
                   title="toggle side by side view"
                   class="vcenter-item pl-1 pr-1 pt-0 pb-0 border-0 rounded"
                   style="margin-top: -2px;"
                >
                    <i class="bi bi-vr"></i>
                </a>
            </div>
        <% } %>

        <!--ADD IGNORE REGION-->
        <div class="col-auto btn-check pl-1 pr-1 pt-0"
             onclick="mainView.addIgnoreRegion( {name: 'ignore_rect', strokeWidth: 0,})">
            <a id="ignore-regions" type="button"
               title="add ignore region (A)"
               class="vcenter-item pl-1 pr-1 pt-0 pb-0 border-0 rounded"
            >
                <i class="bi bi-bounding-box"></i>
            </a>
        </div>
        <!--ADD BOUND REGIONS-->
        <!--        <div class="col-auto btn-check pl-1 pr-1 border-header"-->
        <!--             style="padding-top: 1px"-->
        <!--        >-->
        <!--            <a id="bound-regions" type="button"-->
        <!--               class="vcenter-item pl-1 pr-1 pt-0 pb-0 mb-1 border-0 rounded"-->
        <!--               title="add bound regions"-->
        <!--               onclick="mainView.addBoundingRegion('bound_rect')"-->
        <!--            >-->
        <!--                <i class="bi bi-fullscreen"></i>-->
        <!--            </a>-->
        <!--        </div>-->

        <!--DELETE-->
        <div class="col-auto btn-check pl-1 pr-1 border-left border-header"
             onclick="mainView.removeActiveIgnoreRegions()">
            <a id="delete-rect" type="button"
               class="vcenter-item pl-1 pr-1 pt-0 pb-0 mb-0 border-0 rounded"
               title="delete active region (Delete or Backspace)"
            >
                <i class="bi bi-trash"></i>
            </a>
        </div>
        <!--ACCEPT-->
        <div class="col-auto btn-check pl-1 pr-1 border-left1 border-header"
             style="margin-top: -1px"
             onclick="setTimeout(()=>{ acceptAndRedirect2({
                     checkId: '<%= check.id %>',
                     actualId:  '<%= actualSnapshot.id %>',
                     expectedId:  '<%= baselineSnapshot.id %>',
                     testId:  '<%= test.id %>',
                     diffId: '<%= diffSnapshot?.id || baselineSnapshot?.id %>'
                     })}, 100);">
            <a id="accept-rect" type="button"
               class="vcenter-item pl-1 pr-1"
               style="margin-top: -1px"
               title="accept the actual snapshot as the baseline"
            >
                <% const isPrev = check.actualSnapshotId.toString() !== check.baselineId.toString() %>
                <% if ((check.markedAs === 'accepted') && isPrev) { %>
                    <i class="bi bi-hand-thumbs-up" style="color: #0bf316;"></i>
                <% } else if((check.markedAs === 'accepted') && !isPrev){ %>
                    <i class="bi bi-hand-thumbs-up-fill" style="color: #0bf316;"></i>
                <% } else { %>
                    <i class="bi bi-hand-thumbs-up"></i>
                <% } %>
            </a>
        </div>

        <!--SAVE-->
        <div class="col-auto btn-check pl-1 pr-1 pr-1 border-left border-header"
             onclick="mainView.sendIgnoreRegions('<%= baselineSnapshot.id; %>' ,mainView.getRectData())">
            <a id="save-baseline" type="button"
               class="vcenter-item pl-1 pr-1 pt-0 pb-0 mb-0 border-0 rounded"
               title="save the baseline (S)"
            >
                <i class="bi bi-check2"></i>
            </a>
        </div>

        <!--INFO-->
        <div class="col-auto btn-check pl-1 pr-1 pr-1 border-left border-right border-header">
            <a id="check-info" type="button"
               class="vcenter-item pl-1 pr-1 pt-0 pb-0 mb-0 border-0 rounded"
               title="go to check info"
               href="#info-wrapper"
            >
                <i class="bi bi-info-circle"></i>
            </a>
        </div>

        <!--IGNORE MENU-->
        <div name="ignore-menu"
             class="col-auto d-lg-none d-md-none d-xl-inline-block col-flex pl-0 pr-0 align-self-end"
             title="apply to the baseline one of ignore strategy"
        >
            <div class="dropdown">
                <button class="btn dropdown-toggle btn-sm text-light" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        style="box-shadow: none; opacity: 1 !important;"
                >
                    <%= baselineSnapshot.matchType ? baselineSnapshot.matchType : 'nothing'; %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu" style="z-index: 8888">
                    <a class="dropdown-item small" href="#"
                       onclick="setMatchType('nothing',  '<%= baselineSnapshot.id; %>'); setTimeout(() => location.reload(), 500)">nothing</a>
                    <a class="dropdown-item small" href="#"
                       onclick="setMatchType('antialiasing', '<%= baselineSnapshot.id; %>'); setTimeout(() => location.reload(), 500)">antialiasing</a>
                    <a class="dropdown-item small" href="#"
                       onclick="setMatchType('colors',  '<%= baselineSnapshot.id; %>'); setTimeout(() => location.reload(), 500)">colors</a>
                </div>
            </div>
        </div>

        <!--NAVIGATION-->
        <div class="col-auto btn-check pl-1 pr-1">
            <a type="button"
               id="navigation"
               class="vcenter-item pl-1 pr-1 pt-0 pb-0 mb-0 border-0 rounded dropdown-toggle-split"
               title="open other related views" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="true">
                <i class="bi bi-stack"></i>
            </a>
            <div class="dropdown-menu mr-0 dropdown-menu-right" aria-labelledby="navigation"
                 style="z-index: 10000">

                <!--DROPDOWN ITEMS-->
                <!--GROUP VIEW-->
                <a id="group_view" type="button"
                   class="btn btn-check vcenter-item pl-3 pr-1 pt-0 pb-0 mb-0 border-0 rounded-0"
                   onclick="window.location.href = '/checksgroupview?id=<%= check.id %>'"
                   title="Group view (checks with same idents in the same session)">
                    <i class="bi bi-layout-three-columns"></i>
                    <span style="display: inline-block; margin-left: 3px">Group View</span>
                </a>

                <div class="dropdown-divider"></div>

                <!--SCREENSHOTS-->
                <a target="_blank"
                   href="/snapshoots/<%= baselineSnapshot.filename ? baselineSnapshot.filename : (baselineSnapshot.id + '.png'); %>"
                   title="open the baseline screenshot file">
                    <img class="w-100 preview shadow mt-2"
                         src="/snapshoots/<%= baselineSnapshot.filename ? baselineSnapshot.filename : baselineSnapshot.id + '.png' %>"
                         alt="baseline">
                </a>
                <a class="dropdown-item text-center" style="font-size: 90%;"
                   target="_blank"
                   href="/snapshootview?id=<%= baselineSnapshot.id %>&diffid=<%= baselineSnapshot.id %>"
                >baseline file</a>

                <% if(actualSnapshot) { %>
                    <a target="_blank"
                       href="/snapshoots/<%= actualSnapshot.filename ? actualSnapshot.filename : (actualSnapshot.id + '.png'); %>"
                       title="open the baseline screenshot file">
                        <img class="w-100 preview shadow"
                             src="/snapshoots/<%= actualSnapshot.filename ? actualSnapshot.filename : actualSnapshot.id + '.png' %>"
                             alt="actual">
                    </a>
                    <a class="dropdown-item text-center" style="font-size: 90%;"
                       target="_blank"
                       href="/snapshoots/<%= actualSnapshot.filename ? actualSnapshot.filename : (actualSnapshot.id + '.png'); %>"
                    >actual file</a>
                <% } %>
            </div>
        </div>
    </div>
</div>
