<div class="row mb-3 bg-light">
    <div class="col shadow text-center pt-0 pb-1 pr-0 pl-0">
        <a href="/snapshootview?id=<%= expected_snapshoot.id %>&diffid=<%= diff_snapshoot.id %>"
           class="unlink"
           title="baseline snapshoot">
            <img class="w-100 preview mb-1"
                 src="/snapshoots/<%= expected_snapshoot.filename ? expected_snapshoot.filename : expected_snapshoot.id + '.png' %>"
                 alt="baseline">
            <span class="text-dark text-truncate d-block pl-1 pr-1">Baseline</span>
        </a>
    </div>
</div>

<div class="row mb-3 bg-light">
    <div class="col shadow text-center pt-0 pb-1 pr-0 pl-0">
        <a href="/snapshootview?id=<%= actual_snapshoot.id %>&diffid=<%= diff_snapshoot.id %>"
           title="actual snapshoot">
            <img class="w-100 preview mb-1"
                 src="/snapshoots/<%= actual_snapshoot.filename ? actual_snapshoot.filename : actual_snapshoot.id + '.png' %>"
                 alt="actual">
        </a>
        <span class="text-dark text-truncate d-block pl-1 pr-1">Actual</span>
    </div>
</div>

<div class="dropdown-divider"></div>
