<div name="logo-and-link"
     class="col-8"
     id="logo-and-label-container">
    <div class="row align-items-center1">
        <div class="col-auto ml-4 pl-0 pr-0 pt-0 toggle-sidebar-button-wrapper no-highlight vcenter">
            <%- include('sidebar_switcher') %>
        </div>
        <div name="logo-img" class="col-auto pl-1 pt-0 pr-0 vcenter">
            <%- include('logo') %>
        </div>
        <div class="col-7 ml-2 pl-2 pr-1 pt-0 vcenter">
            <%- include('search') %>
        </div>
    </div>
</div>

<div name="suite-menu-toolbar" class="col mr-3">
    <div class="row all-header light-purple">
        <div class="tests-toolbar col text-light p-0 pt-0 bg-olive align-self-end">
            <div class="row d-flex flex-row pr-0 justify-content-end">
                <!--NAV BUTTON ICON-->
                <div class="user-icon-wrapper col-auto  pl-1 pr-0 mr-1 vcenter" >
                    <%- include('nav_button', {user: user}) %>
                </div>
                <!--NAV BUTTON ICON-->
                <!--USER ICON-->
                <div class="user-icon-wrapper col-auto pl-1 pr-0 mr-3 vcenter">
                    <%- include('user_icon', {user: user}) %>
                </div>
                <!--/USER ICON-->
            </div>
        </div>
    </div>
</div>
