<div name="logo-and-link"
     class="col ml-3"
     id="logo-and-label-container">
    <div class="row">
        <div class="col-auto ml-4 pl-0 pr-0 pt-0 toggle-sidebar-button-wrapper no-highlight vcenter">
            <%- include('sidebar_switcher') %>
        </div>
        <div name="logo-img" class="col-auto pl-1 pt-0 pr-0 vcenter">
            <%- include('logo') %>
        </div>
        <!--HEADER TITLE-->
        <%
        const checkResult = JSON.parse(check.result);
        let diffPercent = checkResult.misMatchPercentage ? (checkResult.misMatchPercentage) : ''
        diffPercent = ((diffPercent === '0.00' || diffPercent === '') && checkResult.rawMisMatchPercentage?.toString()?.length > 0) ?
                checkResult.rawMisMatchPercentage :
                checkResult.misMatchPercentage;
        const diffPercentText = diffPercent ? "(" + diffPercent + "%)" : '';
        const commonTitle = `${diffPercentText} ${suite.name} / ${test.name} / ${check.name}`;
        %>
        <div name="title"
             class="col pl-2 ml-2 pt-0 h6 mb-0 d-flex align-items-center text-truncate"
             style="font-weight: 300"
             title="<%= commonTitle; %>"
        >
            <!--BACK LINK-->
            <a class="diff-back-button back-button unlink small" href="javascript:void(0)"
               onclick="backToTest('<%= test.id; %>')">
                <img src="./static/icons/back-button.svg" alt="navigation button" class="navigation-button">
            </a>
            <!--STATUS-->
            <% const statusTitle = (diffPercent !== '0.00%')
                    ? `this check mismatch percentage is ${diffPercentText}`
                    : 'there is no difference between baseline and actual' %>
            <span class="status d-inline-block ml-2 mr-2 rounded border border-light bg-item-<%= check.status[0]; %>"
                  title="<%= statusTitle %>"
                  style="padding: 2px; font-weight: 200"
            >
                <%= check.status[0]; %>
                <% if(check.failReasons.includes('wrong_dimensions')) { %>
                    <span id='not-equal-resolution-char' class="text-danger bg-warning rounded"
                          title="the resolutions of snapshots are not equal">≠</span>
                <% } else { %>
                    <span id='not-equal-resolution-char' class="text-danger bg-warning rounded d-none"
                          title="the resolutions of snapshots are not equal">≠</span>
                <% } %>

                <% if(check.failReasons.includes('not_accepted')) { %>
                    <span id='not-accepted-checks-char' class="text-danger bg-warning rounded"
                          title="the check isn't new and doesn't have accepted snapshots, accept one of them and rerun tests">×</span>
                <% } %>

                <% const result = JSON.parse(check.result) %>
                <% if(result.vOffset) { %>
                    <span id='vertical-shifting-char' class="text-danger bg-warning rounded"
                          title="the check has vertical shifting parameter: <%= result.vOffset %> pixels">⇅</span>
                <% } %>

                <% if(diffPercent !== '0.00' || diffPercent !== '') { %>
                    <span id="mismatch_percentage"><%= diffPercentText; %></span>
                <% } %>
            </span>
            <!--LINKS TO SUITE / TEST / CHECK-->
            <a class="unlink" id="suite_link"
               href="/?filter_suitename_eq=<%= suite.name; %>"><%= suite.name; %></a>
            <span>&nbsp;/&nbsp;</span>
            <a class="unlink" id="check_link"
               href='/?filter_suitename_eq=<%= suite.name; %>&unfoldTestId=<%= test.id; %>'><%= test.name; %></a>
            <span>&nbsp;/&nbsp;</span>
            <span id="head_check_name"><a href="" class="unlink"><%= check.name; %></a></span>
        </div>
    </div>
</div>

<div name="suite-menu-toolbar" class="col-auto mr-3">
    <div class="row pr-0 justify-content-end">
        <!--OPERATION TOOLBAR-->
        <div class="col-auto  pl-1 pr-0 mr-1 vcenter">
            <%- include('checkview_operations_toolbar') %>
        </div>
        <!--NAV BUTTON ICON-->
        <div class="col-auto  pl-1 pr-0 mr-1 vcenter">
            <%- include('nav_button', {user: user}) %>
        </div>
        <!--USER ICON-->
        <div class="user-icon-wrapper col-auto pl-1 pr-0 mr-3 vcenter">
            <%- include('user_icon', {user: user}) %>
        </div>
    </div>
</div>
