<div name="logo-and-link"
     class="col-5"
     id="logo-and-label-container">
    <div class="row">
        <div class="col-auto ml-4 pl-0 pr-0 pt-0 toggle-sidebar-button-wrapper no-highlight vcenter">
            <%- include('sidebar_switcher') %>
        </div>
        <div name="logo-img" class="col-auto pl-1 pt-0 pr-0 vcenter">
            <%- include('logo') %>
        </div>
        <div class="col-auto ml-2 pl-2 pr-1 pt-0 vcenter">
            <%- include('projects_dropdown') %>
        </div>

    </div>
</div>

<div name="suite-menu-toolbar" class="col-6 mr-1">
    <div class="row all-header light-purple float-right w-100 d-flex justify-content-end">
        <!--SEARCH-->
        <div class="col-8 ml-2 pl-2 pr-1 pt-0 d-sm-none d-md-inline-block vcenter text-right float-right">
            <%- include('search') %>
        </div>
        <!--NAV BUTTON ICON-->
        <div class="user-icon-wrapper col-auto  pl-1 pr-0 mr-1 vcenter float-right">
            <%- include('nav_button', {user: user}) %>
        </div>
        <!--NAV BUTTON ICON-->
        <!--USER ICON-->
        <div class="user-icon-wrapper col-auto pl-1 pr-0 mr-3 vcenter float-right">
            <%- include('user_icon', {user: user}) %>
        </div>
        <!--/USER ICON-->
    </div>
</div>
