<% items.forEach(function(item){ %>
    <% let itemClass = ''; %>
    <% if(currentItem){ %>
        <% itemClass = item.id === currentItem.id ? 'current-menu-item' : '' %>
    <% } %>
    <li name="suite-menu-item-container"
         class="row suite-menu-item-container pl-0 w-100 btn-light border-silver border-bottom pt-2 pb-2 mr-0 ml-0 <%= itemClass %>"
         onclick="window.location.href='/?filter_suitename_eq=<%= item.name %>'"
    >
        <div class="col.auto pl-3">
            <input name="suite-item" class="small suite-item" type="checkbox" suiteid="<%= item.id %>"
                   id="suite-checkbox-<%= item.id %>" onclick="toggleRemoveButton('suite-item', 'mass-suites-actions'); event.stopPropagation();">
        </div>
        <div class="col pr-1 pl-2 pb-1 ">
            <span class="small text-dark "><%= item.name %></span>
        </div>
    </li>
<% }); %>
