<% function statusesHTML(statuses) {
    return `
     <span class="new-run-test-status">${statuses['New'] || '0'}</span>
     <span class="text-secondary">/</span>
     <span class="passed-run-test-status">${statuses['Passed'] || '0'}</span>
     <span class="text-secondary">/</span>
     <span class="failed-run-test-status">${statuses['Failed'] || '0'}</span>
    `
} %>

<% items.forEach(function(item){ %>
    <% let itemClass = ''; %>
    <% if(currentItem){ %>
        <% itemClass = item.id === currentItem.id ? 'current-menu-item' : '' %>
    <% } %>
    <li name="run-menu-item-container"
        class="row border-bottom run-menu-item-container pl-0 w-100 btn-light border-silver pt-3 pb-3 mr-0 ml-0 <%= itemClass %>"
        onclick="window.location.href='/runs?filter_run_eq=<%= item._id %>'"
    >
        <div class="col.auto pl-3">
            <input name="run-item" class="small run-input" type="checkbox" runid="<%= item._id %>"
                  runname="<%= item.name %>" id="run-checkbox-<%= item._id %>" onclick="toggleRemoveButton('run-input', 'mass-runs-actions'); event.stopPropagation();">
        </div>
        <div class="col pr-1 pl-2 pb-1 ">
            <span class="small text-dark "><%= item.name %><%= item.statuses.N %></span>
            <div style="position: absolute; bottom: 0; right: 0; letter-spacing: -1px;"
                 class="small text-dark">
                <div class="pr-2  w-100 float-left" style="margin-bottom: -14px">
                    <%- statusesHTML(item.statuses) -%>
                </div>
            </div>
        </div>
    </li>
<% }); %>
