<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../static/imgs/logo.png">
    <!--    <link rel="icon" href="../../static/imgs/simpleLogoLightShadow.png">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/colors.css">
    <style>
        .snapshoot-canvas {
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }

        .snapshot-image {
            /*width:100%; height:100%;*/
            position: absolute;
            top: 0px;
            left: 0px;
        }

        .con-relative {
            position: relative;
        }

        .centered-overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

    <title>Shapshoot - <%= expected_snapshoot.name %> | <%= expected_snapshoot.id %>
        | <%= expected_snapshoot.formattedCreatedDate %></title>
</head>
<body>
<div class="container-fluid pl-1 pr-1">
    <div name="header" class="row bg-sidebar text-light ">
        <div class="col-2 col-lg-3 w-25 pl-4 pt-2">
            <div class="row pl-1">
                <div class="col-auto pl-3 pr-0">
                    <div class="border-top border-bottom border-left rounded-left border-right rounded-right pl-1 pr-1 pt-1 pb-1">
                        <a class="unlink" href="/">
                            <img src="static/imgs/simpleLogoLightShadow3.png" alt="robo logo bg-light1" class=""
                                 style="width: 35px ">
                        </a>
                    </div>
                </div>
                <div class="col pl-2 pt-2 mr-0 text-truncate">
                    <a class="unlink" href="/" title="Σύγκριση">Syngrisi</a>
                </div>
            </div>

        </div>

        <div name="title" class="col pl-4 pt-3 h4">
            <a class="unlink" name="suite-link"
               href="/?suitename=<%= suite.name %>"><%= suite.name %></a>
            <span>/</span>
            <a class="unlink" name="check-link"
               href='/?suitename=<%= suite.name %>&unfoldTestId=<%= test.id %>'><%= test.name %></a>
            <span>/</span>
            <%= (expected_snapshoot.name.replace(/_/g, ' ')); %></div>
    </div>
    <div name="header-line" class="row bg-sidebar text-light ">
        <div class="col p-1"></div>
    </div>
    <div name="all-content" class="row pl-4">
        <div name="sidebar" class="col-1 border-right1 mt-3 float-right p-0 pr-1">
            <div class="container sticky-top pt-2 p-0 mt-2">
                <div class="row justify-content-center">
                    <button name="zoom in" type="button" class="" onclick="resizeSnapshoot(1.2)">
                        <i class="fas fa-search-plus fa-1x  "></i>
                    </button>
                </div>

                <div class="row justify-content-center">
                    <button name="zoom-out" type="button" class="" onclick="resizeSnapshoot(0.8)">
                        <i class="fas fa-search-minus fa-1x"></i>
                    </button>
                </div>
                <div class="row justify-content-center">
                    <button name="details" type="button" class=""
                            onclick="window.location.href = '/checksgroupview?id=<%= check_id %>'">
                        <i class="fas fa-th fa-1x  "></i>
                    </button>
                </div>
                <div class="row justify-content-center">
                    <button name="show-diff" type="button" class="" onclick="toggleDiffOpacity()">
                        <i class="fas fa-exchange-alt fa-1x"></i>
                    </button>
                </div>
                <div class="row justify-content-center">
                    <button name="show-overlay" type="button" class="" onclick="toggleReqions()">
                        <i class="far fa-object-group fa-1x"></i>
                    </button>
                </div>
                <% if(check.status == 'failed') { %>
                    <div class="row justify-content-center">
                        <button name="accept-baseline" type="button" class=""
                                onclick="acceptCheck('<%= check_id %>', '<%= actual_snapshoot.id %>')"
                                title="accept the actual snapshoot as baseline">
                            <i class="fas fa-check fa-1x"></i>
                        </button>
                    </div>
                <% } %>
                <div class="container mt-2">
                    <div class="row border border-secondary">
                        <div class="con-relative">
                            <a href="/snapshootview?id=<%= expected_snapshoot.id %>&diffid=<%= diff_snapshoot.id %>"
                               title="baseline snapshoot">
                                <img class="w-100" src="/snapshoots/<%= expected_snapshoot.id %>.png" alt="baseline">
                                <div class="centered-overlay-text h4 white bg-maroon">B</div>
                            </a>
                        </div>
                    </div>
                    <div class="row border border-secondary mt-3">
                        <div class="con-relative">
                            <a href="/snapshootview?id=<%= actual_snapshoot.id %>&diffid=<%= diff_snapshoot.id %>"
                               title="actual snapshoot">
                                <img class="w-100" src="/snapshoots/<%= actual_snapshoot.id %>.png" alt="actual">
                                <div class="centered-overlay-text h4 text-light bg-maroon">A</div>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="row border border-secondary mt-3">
                    <div class="con-relative">
                        <a href="/snapshootview?id=<%= diff_snapshoot.id %>&baselineid=<%= expected_snapshoot.id %>" title="diff">
                            <img class="w-100 " src="/snapshoots/<%= diff_snapshoot.id %>.png" alt="diff">
                            <div class="centered-overlay-text h6 text-light bg-info">D</div>
                        </a>
                    </div>
                </div>-->
                </div>
            </div>
        </div>
        <div name="shapshoot" id='snapshoot' class="col-9 border-left mt-3 mh-100 ml-2 m-1">
            <div class="panel">
                <canvas class="snapshoot-canvas" id="2d">
                </canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.1/fabric.min.js"></script>
<script src="lib/baselineView.js"></script>
<script>
    fabric.Object.prototype.objectCaching = false;
    var canvas = new fabric.Canvas('2d');
    var expectedImg = {};
    var actualImg = {};
    var diffImg = {};
    var baseline = {};
    // canvas.setHeight(document.getElementById('snapshoot').offsetHeight);
    canvas.setWidth(document.getElementById('snapshoot').offsetWidth);

    canvas.hoverCursor = 'col-resize'

    fabric.Image.fromURL('/snapshoots/<%= expected_snapshoot.id %>.png', function (oImg) {
        window.BaselineImg = oImg;
        oImg.clipPath = clipPath;
        canvas.add(oImg);
        expectedImg = oImg;
        oImg.moveTo(0);
        oImg.scaleToWidth(canvas.width);
        canvas.setHeight(oImg.getScaledHeight())


        fabric.Image.fromURL('/snapshoots/<%= actual_snapshoot.id %>.png', function (oImg) {
            canvas.add(oImg);
            window.expectedImg = oImg;
            actualImg = oImg;
            oImg.moveTo(0);
            oImg.scaleToWidth(canvas.width);
            canvas.renderAll();
        });
    });

    fabric.Image.fromURL('/snapshoots/<%= diff_snapshoot.id %>.png', function (oImg) {
        oImg.set('opacity', 0)
        canvas.add(oImg);
        diffImg = oImg;
        oImg.moveTo(4);
        oImg.scaleToWidth(canvas.width);
        canvas.renderAll();
    });


    var clipPath = new fabric.Rect({
        width: canvas.width,
        height: canvas.height,
        top: 0,
        left: 0,
        absolutePositioned: true,
        opacity: 0.01,
        // fill: 'green',
        fill: 'rgba(0,0,0,0)',
        strokeWidth: 2,
        stroke: 'rgba(100,200,200,0.5)',
        lockMovementX: true,
        lockMovementY: true
    });
    var clipPathWrapper = new fabric.Rect({
        width: 1,
        height: canvas.height,
        top: -4,
        left: -4,
        absolutePositioned: true,
        opacity: 0.1,
        // fill: 'rgba(0,0,0,0)',
        fill: 'Aquamarine',
        strokeWidth: 3,
        stroke: 'rgba(100,200,200,0.8)',
        lockMovementX: true,
        lockMovementY: true,
    });

    canvas.add(clipPath);
    canvas.add(clipPathWrapper);
    clipPath.moveTo(3);
    clipPath.scaleToWidth(canvas.width);

    clipPath.originX = 'left';

    function toggleReqions() {
        if (baseline.allRects && (baseline.allRects.length > 0)) {
            console.log('DESTROY')
            baseline.destroy()
        } else {
            baseline = new BaselineView('2d',
                expectedImg,
                {
                    canvas: canvas,
                    noAddImage: true
                }
            );
            baseline.getSnapshotIgnoreRegionsDataAndDrawRegions('<%= expected_snapshoot.id %>');
        }
    }

    function resizeSnapshoot(ratio) {
        let w = expectedImg.getScaledWidth();
        expectedImg.scaleToWidth(w * ratio);
        actualImg.scaleToWidth(w * ratio);
        diffImg.scaleToWidth(w * ratio);
        canvas.renderAll();
    }

    function toggleDiffOpacity() {
        if (diffImg.opacity === 1) {
            diffImg.opacity = 0;
            canvas.hoverCursor = 'col-resize'
        } else {
            diffImg.opacity = 1;
            canvas.hoverCursor = 'auto'
        }

        canvas.renderAll();
    }

    canvas.on("mouse:move", function (event) {
        let ofsetX = parseInt(event.pointer.x);
        clipPath.width = ofsetX;
        clipPathWrapper.width = ofsetX + 2;
        clipPath.height = actualImg.getScaledHeight()
        clipPathWrapper.height = actualImg.getScaledHeight() + 2
        canvas.renderAll();
    })
    canvas.on("mouse:up:before", function (event) {
        toggleDiffOpacity();
    })

    function confirmation(text = 'are you sure?') {
        return window.confirm(text);
    }

    function acceptCheck(id, newBaselineId) {
        if (!confirmation()) return;

        var xhr = new XMLHttpRequest();
        // send empty diffid
        var params = `id=${id}&baselineId=${newBaselineId}&diffId&status=passed`;
        xhr.open('PUT', `/checks/${id}`, true);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        // NEED TO ADD UPDATE BASELINE LOGIC TO .onload EVENT!!!
        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log('Success ' + id + '--' + xhr.responseText);
                const newUri = `/diffview?diffid=${newBaselineId}&actualid=${newBaselineId}&expectedid=${newBaselineId}&checkid=${id}`
                window.location.href = newUri;
            } else {
                console.log('Request failed. Returned status of ' + xhr.status + 'resp:' + xhr.responseText);
            }
        };
        xhr.send(params);
    }

</script>
</body>
</html>
