<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../static/imgs/logo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
          integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/colors.css">
    <!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"-->
    <style>
        .snapshoot-canvas {
            width: 100%;
            /*height: 1500px;*/
            position: absolute;
            top: 0px;
            left: 0px;
        }

        .snapshot-image {
            /*width:100%; height:100%;*/
            position: absolute;
            top: 0px;
            left: 0px;
        }
    </style>

    <title>Shapshoot - <%= snapshot.name %> | <%= snapshot.id %> | <%= snapshot.formattedCreatedDate %></title>
</head>
<body>
<div class="container-fluid pl-3 pr-4">
    <div name="header" class="row bg-sidebar text-light ">
        <div name="logo-and-label" class="col-2 col-lg-3 w-25 pl-4 pt-1">
            <div class="row pl-1 pb-3">
                <div class="col-auto pl-2 pr-0 pt-3">
                    <div class="border-top border-bottom border-left rounded-left border-right rounded-right pl-1 pr-1 pt-1 pb-1">
                        <a class="unlink" href="/">
                            <img src="static/imgs/simpleLogoLightShadow3.png" alt="robo logo bg-light1" class=""
                                 style="width: 35px ">
                        </a>
                    </div>
                </div>
                <div class="col pl-2 pt-2 mr-0 text-truncate">
                    <a class="unlink h1" href="/" title="Σύγκριση">Syngrisi</a>
                </div>
            </div>
        </div>

        <div name="title" class="col pl-4 pt-3 h4 border-left mb-0 light-purple">
            <%= snapshot.name %>
        </div>
        <div name="menu" class="col-2 align-self-end pl-4 pt-3 h4 mb-0 light-purple">
            <div class="dropdown mb-1">
                <button class="btn btn-secondary1 bg-sidebar text-light dropdown-toggle btn-sm" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ignore <%= snapshot.matchType %>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <a class="dropdown-item small" href="#" onclick="setMatchType('antialiasing')">antialiasing</a>
                    <a class="dropdown-item small" href="#" onclick="setMatchType('nothing')">nothing</a>
                    <a class="dropdown-item small" href="#" onclick="setMatchType('less')">less</a>
                    <a class="dropdown-item small" href="#" onclick="setMatchType('colors')">colors</a>
                    <a class="dropdown-item small" href="#" onclick="setMatchType('alpha')">alpha</a>
                </div>
            </div>
        </div>
        <script>
            function setMatchType(type) {
                const buttonElement = document.getElementById('dropdownMenuButton');
                sendMatchType('<%= snapshot.id %>', type);
                buttonElement.innerText = 'Ignore ' + type;
            }

            function sendMatchType(id, type) {
                var xhr = new XMLHttpRequest();
                var params = `id=${id}&matchType=${type}`;
                xhr.open('PUT', `/snapshots/${id}`, true);
                xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        console.log(`Successful send snapshoot match type data, id: '${id}'  resp: '${xhr.responseText}'`);
                        showNotification('Match type was saved');
                    } else {
                        console.error(`Cannot set snapshoot match type , status: '${xhr.status}',  resp: '${xhr.responseText}'`);
                        showNotification('Cannot set snapshoot match type', 'Error');
                    }
                };
                xhr.send(params);
            }

        </script>

    </div>

    <div class="row ">
        <div name="sidebar" class="col w-25 border mt-3 float-right">
            <div class="container sticky-top pt-2 mt-2">
                <div class="row justify-content-center">
                    <a name="zoom in" type="button" class="btn btn-check pl-1 pr-1 pt-0 pb-0"
                       onclick=" baseline.resize(1.2)">
                        <i class="fas fa-search-plus fa-1x"></i>
                    </a>
                </div>

                <div class="row justify-content-center">
                    <a name="add-region" type="button" class="btn btn-check pl-1 pr-1 pt-0 pb-0"
                       onclick="baseline.addIgnoreRegion( {name: 'ignore_rect', strokeWidth: 0,})">
                        <i class="fas fa-expand fa-1x"></i>
                    </a>
                </div>
                <div class="row justify-content-center">
                    <a name="add-region" type="button" class="btn btn-check pl-1 pr-1 pt-0 pb-0"
                       onclick="baseline.addBoundingRegion('bound_rect')"
                       title="(A) Add ignore region">
                        <i class="fas fa-border-style"></i>
                    </a>
                </div>

                <div class="row justify-content-center">
                    <a name="zoom-out" type="button" class="btn btn-check pl-1 pr-1 pt-0 pb-0"
                       onclick="baseline.resize(0.8)">
                        <i class="fas fa-search-minus fa-1x"></i>
                    </a>
                </div>
                <div class="row justify-content-center">
                    <a name="save-snapshot" type="button" class="btn btn-check pl-1 pr-1 pt-0 pb-0"
                       onclick="baseline.sendIgnoreRegions('<%= snapshot.id %>' ,baseline.getRectData())">
                        <i class="fas fa-save fa-1x"></i>
                    </a>
                </div>
                <% if (diffId) { %>
                    <div class="row justify-content-center">
                        <a id="diff" name="diff" type="button" class="btn btn-check pl-1 pr-1 pt-0 pb-0"
                           onclick="baseline.toggleDiff('<%= diffId %>')">
                            <i class="fas fa-exchange-alt fa-1x"></i>
                        </a>
                    </div>
                <% } %>
                <div class="row justify-content-center">
                    <a id="remove" name="remove" type="button" class="btn btn-check pl-1 pr-1 pt-0 pb-0"
                       style="display:none">
                        <i class="fas fa-trash fa-1x"></i>
                    </a>
                </div>

            </div>
        </div>
        <!--        <div name="shapshoot" id='snapshoot' class="col-11 border mt-3 mh-100" style="height: 1500px">-->
        <div name="shapshoot" id='snapshoot' class="col-11 border mt-3 mh-100" style="height: 3500px">
            <div class="panel">
                <!--                <img name="snapshootimage" class="snapshot-image w-100 img-responsive"-->
                <!--                     src="/snapshoots/<%= snapshot.id %>.png"-->
                <!--                     alt="<%= snapshot.id %>">-->
                <canvas class="snapshoot-canvas" id="2d">
                </canvas>
            </div>
        </div>
    </div>
</div>

<!--TOAST START-->
<div id="notify" role="alert" aria-live="assertive" aria-atomic="true"
     class="fixed-bottom-right bg-light m-1 border rounded toast fade show"
     data-autohide="false"
     style="display: none"
>
    <div class="toast-header border-bottom">
        <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <rect id="notify-rect" width="100%" height="100%" fill="#2ECC40"></rect>
        </svg>
        <strong id="notify-header" class="mr-auto">Success</strong>
        <!--        <small>11 mins ago</small>-->
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"
                onclick="$('#notify').hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div id="notify-message" class="toast-body">
        Operation was successful finished
    </div>
</div>
<!--TOAST END-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.1/fabric.min.js"></script>
<script src="lib/baselineView.js"></script>
<script>
    function showNotification(msg, status = 'Success') {
        document.getElementById("notify-header").textContent = status;
        document.getElementById("notify-message").textContent = msg;
        document.getElementById("notify-rect").setAttribute('fill', '#2ECC40');
        if (status === 'Error')
            document.getElementById("notify-rect").setAttribute('fill', '#FF4136');
        $('#notify').show()
        setTimeout(function () {
                $('#notify').hide()
            },
            7000)
    }

    document.addEventListener('keydown', function (event) {
        console.log(event.code);
        if (event.code == 'KeyA') {
            baseline.addIgnoreRegion({name: 'ignore_rect', strokeWidth: 0,})
        }
    });

    $(document).on('click', ".deleteBtn", function () {
        if (baseline.canvas.getActiveObject()) {
            baseline.canvas.remove(baseline.canvas.getActiveObject());
            $(".deleteBtn").remove();
        }
    });

    $('#remove').on('click', function () {
        baseline.canvas.remove(baseline.canvas.getActiveObject())
    });

    var baseline = {};

    let baselineImg = new Image();
    baselineImg.src = '/snapshoots/<%= snapshot.id %>.png';
    baselineImg.onload = function () {
        let coef = document.getElementById('snapshoot').clientWidth / this.width;
        let calculatedHeight = this.height * coef
        document.getElementById('snapshoot').style.height = calculatedHeight + 'px'
        fabric.Object.prototype.objectCaching = false;
        fabric.Image.fromURL(baselineImg.src, function (oImg) {
            baseline = new BaselineView('2d',
                oImg,
                {
                    height: document.getElementById('snapshoot').offsetHeight,
                    weight: document.getElementById('snapshoot').offsetWidth,
                    backimageId: '<%= baselineId %>',
                    diffId: '<%= diffId %>'
                }
            );
            baseline.getSnapshotIgnoreRegionsDataAndDrawRegions('<%= snapshot.id %>');
        })
    }
</script>
</body>
</html>
