<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../../static/imgs/logo.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/css/colors.css">

    <title>Check - <%= check.name %>, <%= check.id %></title>
</head>
<body>
<div class="container">
    <div class="container sticky-top bg-dark text-light">
        <h3 class="display-2111">[<%= check.status %>] <%= check.name %> | <%= checkDate %> | <%= check.browserName %> | <%= check.viewport %> </h3>
    </div>
    <div class="check-toolbar container clearfix border-bottom border-secondary pr-0">
        <!--                    <div class="container btn-group float-right">-->


        <button type="button" class="btn-outline-danger btn-sm float-right p-1"
                id="checkbutton_<%= check.id %>"
                data-toggle="tooltip"
                data-placement="top"

                title="Remove this check"
                onclick="removeCheck('<%= check.id %>')">
            <i class="fas fa-window-close fa-2x"></i>
        </button>

        <button type="button" class="btn-outline-success btn-sm float-right p-1"
                id="acceptbutton_<%= check.id %>"
                data-toggle="tooltip"
                data-placement="top"
                title="Accept actual snapshot"
                onclick="acceptCheck('<%= check.id %>', '<%= check.actualSnapshotId %>')">
            <i class="fas fa-check-circle fa-2x"></i>
        </button>

        <div class="dropdown float-right">
            <button class="btn btn-outline-secondary btn-sm dropdown-toggle p-2" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Match level
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Strict</a>
                <a class="dropdown-item" href="#">Ignore alpha</a>
                <a class="dropdown-item" href="#">..</a>
            </div>
        </div>
        <!--                    </div>-->
    </div>

    <div class="images">
        <div class="screenshoot baseline m-1 w-25" style="float: left">
            <a href="/snapshootview?id=<%= check.baselineId %>">
                <img src="/snapshoots/<%= check.baselineId %>.png" alt=""
                     class="w-100">
            </a>
        </div>
        <% if (check.actualSnapshotId) { %>
            <div class="screenshoot actual m-1 w-25" style="height: 30%; float: left">
                <a href="/snapshootview?id=<%= check.actualSnapshotId %>">
                    <img src="/snapshoots/<%= check.actualSnapshotId %>.png"
                         alt=""
                         class="w-100">
                </a>
            </div>
        <% } %>
        <% if (check.diffId) { %>
            <div class="screenshoot diff m-1 w-25" style="height: 30%; float: left">
                <a href="/snapshootview?id=<%= check.diffId %>">
                    <img src="/snapshoots/<%= check.diffId %>.png" alt=""
                         class="w-100">
                </a>
            </div>
        <% } %>

    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script>
    function pulseButton(el) {
        // let el = document.getElementById();
        el.style.borderRadius = '40%';
        setTimeout(function () {
            el.style.borderRadius = '25%';
            setTimeout(function () {
                pulseButton(el)
            }, 100)
        }, 100);
    }

    function removeCheck(id) {
        var xhr = new XMLHttpRequest();
        var params = `id=${id}`;
        xhr.open('DELETE', `/checks/${id}`, true);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        let el = document.getElementById(`checkbutton_${id}`);

        pulseButton(el)

        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log('Success ' + id + '--' + xhr.responseText);
                let checkDiv = document.getElementById(`check_${id}`);
                checkDiv.parentNode.removeChild(checkDiv);
            } else {
                console.log('Request failed.  Returned status of ' + xhr.status);
            }
        };
        xhr.send(params);
    }

    function acceptCheck(id, newBaselineId) {
        var xhr = new XMLHttpRequest();
        // send empty diffid
        var params = `id=${id}&baselineId=${newBaselineId}&diffId`;
        xhr.open('PUT', `/checks/${id}`, true);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        let el = document.getElementById(`acceptbutton_${id}`);

        pulseButton(el)

        // NEED TO ADD UPDATE BASELINE LOGIC TO .onload EVENT!!!

        xhr.onload = function () {
            if (xhr.status === 200) {
                console.log('Success ' + id + '--' + xhr.responseText);
                location.reload();
                // let checkDiv = document.getElementById(`check_${id}`);
                // checkDiv.parentNode.removeChild(checkDiv);
            } else {
                console.log('Request failed. Returned status of ' + xhr.status + 'resp:' + xhr.responseText);
            }
        };
        xhr.send(params);
    }
</script>

</body>
</html>
