<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../../static/icons/leaf_logo.svg">
    <link rel="stylesheet" href="./static/fa/css/all.min.css">

    <link rel="stylesheet" href="../../../static/css/common.css">
    <link rel="stylesheet" href="../../../static/css/colors.css">
    <script src="../lib/gridHelpers.js"></script>
    <style>
        .snapshoot-image {
            width: 21em;
        }
    </style>

    <title>Suite: <%= suite.name ;%> Test: <%= test.name ;%> Checks name - <%= checks[0].name ;%></title>
</head>
<body>
<div class="container-fluid pl-3 pr-1">

    <div name="page-head" class="row d-flex pb-2 bg-olive mr-0 justify-content-start text-light">
        <div name="logo-and-link"
             class="col-auto pr-0"
             id="logo-and-label-container"
             style="width: 90px !important"
        >
            <div class="row">
                <div class="col-auto ml-4 pl-0 pr-0 pt-1 toggle-sidebar-button-wrapper no-highlight vcenter">
                    <%- include('components/sidebar_switcher') %>
                </div>
                <div name="logo-img" class="col-auto pl-1 pr-0 pt-1">
                    <%- include('components/logo') %>
                </div>
            </div>
        </div>

        <div name="title" class="col pl-3 pt-1 h6 mb-0 d-flex align-items-center text-truncate">
            <a class="unlink" name="suite-link"
               href="/?filter_suitename_eq=<%= suite.name ;%>"><%= suite.name ;%></a>
            <span>/</span>
            <a class="unlink" name="check-link"
               href='/?filter_suitename_eq=<%= suite.name ;%>&unfoldTestId=<%= test.id ;%>'><%= test.name ;%></a>
            <span>/</span>
            <%= checks[0].name ;%>
        </div>
    </div>

    <div name="rows" class="container mt-3">
        <% for(const check of checks) { %>
            <div class="row w-100 pb-3">
                <div class="col-auto">
                    <a href="/snapshootview?id=<%= check.baseline._id ;%>&diffid=<%= check.diff ? check.diff._id : '' ;%>"
                       name="baseline_link">
                        <img src="/snapshoots/<%= check.baseline.filename || check.baseline._id + '.png' ;%>"
                             alt="baseline snapshoot"
                             title="baseline snapshoot"
                             class="snapshoot-image">
                    </a>
                </div>
                <div class="col-auto">
                    <% if (check.actualSnapshotId) { %>
                        <a href="/snapshootview?id=<%= check.actual._id ;%>&diffid=<%= check.diff ? check.diff._id : '' ;%>"
                           name="actual_link">
                            <img src="/snapshoots/<%= check.actual.filename || check.actual._id + '.png' ;%>"
                                 alt="actual snapshoot"
                                 title="actual snapshoot"
                                 class="snapshoot-image">
                        </a>
                    <% } %>
                </div>
                <div class="col-auto">
                    <% if (check.diff) { %>
                        <a href="/snapshootview?id=<%= check.diff._id ;%>">
                            <img src="/snapshoots/<%= check.diff.filename || check.diff._id + '.png' ;%>"
                                 alt="diff snapshoot"
                                 title="diff snapshoot"
                                 class="snapshoot-image">
                        </a>
                    <% } %>
                </div>
            </div>

        <% } %>
    </div>
</div>


<script src="./static/js/jquery-3.3.1.slim.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="./static/js/popper.min.js"></script>
<script src="../../../static/js/bootstrap-toolkit.js"></script>
<script src="../lib/commonEvents.js"></script>

</body>
</html>
