<!doctype html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="../../../static/images/logos/leaf-logo.svg">
    <link rel="stylesheet" href="./static/fa/css/all.min.css">
    <link rel="stylesheet" href="./static/css/common.min.css">
    <link rel="stylesheet" href="./static/font/bootstrap-icons.css">
    <script src="./static/js/js.cookie.min.js"></script>
    <link rel="stylesheet" href="./static/css/common.min.css">
    <link rel="stylesheet" href="./static/css/colors.css">
    <script src="./static/js/indexHelper.min.js"></script>
    <script src="./static/js/ejs.min.js"></script>
    <script src="./static/js/moment.min.js"></script>
    <script src="./static/js/checkview/mainView.min.js"></script>


<% if(currentRun) { %>
        <title>Syngrisi list of checks - <%= currentRun.name; %> </title>
    <% }else{ %>
        <title>Syngrisi list of checks - all tests</title>
    <% } %>
</head>
<script async src="./static/js/gridHelpers.js"></script>

<body class="bg-light pl-0" style="max-height: 100vh; min-height: 100vh; min-width: 97.8vw; max-width: 98.9vw">

<div name="main" class="main pl-0 pr-0 ml-3 mr-0 d-inline-block bg-light"
     style="min-height: 100vh; max-width: 100%; min-width: 100%">
    <div name="page-head" class="row pb-0 bg-olive mr-0 justify-content-between d-flex" style="margin-right: -16px; margin-left: -16px">
        <%- include('components/header') %>
    </div>

    <!--    DATA GRID START    -->
    <div class="all-table row mh-100 mr-0">
        <!--   SIDEBAR    -->
        <div name="sidebar"
             class="sidebar col-2-5 pl-0 pr-0 mh-100 bg-light border-top border-right1 border-silver float-left ml-0 mr-0"
             style="width: 100px; min-height: 100vh">
            <!--   SUITES CONTROL PANEL-->
            <div class="m-0 row pl-0 pt-0 pr-0 bg-light text-secondary">
                <div class="pl-0 pr-0 col suites-toolbar-wrapper ">
                    <%- include('components/runs_toolbar.ejs') %>
                </div>
            </div>
            <!-- RUNS LIST -->
            <div class="suites-list m-0 row pl-0 pt-0 bg-light text-secondary" style="height: 100vh">
                <ul class="col pr-0 pl-0">
                    <% let items = runs; %>
                    <%- include('components/sidebar_items_runs', {items: runs, currentItem: currentRun}) %>
                </ul>
            </div>
            <!-- /RUNS LIST -->
        </div>
        <!--   TESTS TABLE-->
        <div name class="table-rows content col float-right pr-0-5 pl-0" id="wrapper">
            <%- include('components/subheader_title', {currentItem: currentRun}) %>
            <div class=".container-fluid table-container pl-0 pr-0 m-0">
                <%- include('components/tests_table_headers2', {}) %>
                <row name="tests-end" id="tests-table-end">

                </row>
            </div>

        </div>
    </div>
</div>

<script>
    window.onload = function () {
        firstPaginatorLoad();
        window.addEventListener('scroll', scroller);

        // search trigger on press enter
        document.getElementById('subheader-search')
                .addEventListener('keyup', function (event) {
                    if (event.keyCode === 13) {
                        event.preventDefault();
                        search();
                    }
                });
        // draw preview after collapse event fired
        jQuery(document)
                .on('shown.bs.collapse', function (e) {
                    const testId = e.target.id.replace('testchecks_', '');
                    drawTestChecksPreviews(testId);
                });

        jQuery(document)
                .on('click', 'canvas', function (e) {
                    openDiffView(e);
                });
        jQuery(document)
                .on('mouseover', '[data-toggle="tooltip"]', (e) => {
                    // console.log({ TARGET: e.target });
                    $(e.target)
                            .tooltip({
                                animation: true,
                                delay: {
                                    show: 0,
                                    hide: 100
                                },
                                trigger: 'manual'
                            });
                    $(e.target)
                            .tooltip('show');
                });
        jQuery(document)
                .on('mouseout', '[data-toggle="tooltip"]', (e) => {
                    // console.log({ TARGETOUT: e.target });
                    $(e.target)
                            .tooltip('hide');
                });
    };

</script>

<!--NOTIFY BOX-->
<div id="notify" role="alert" aria-live="assertive" aria-atomic="true"
     class="fixed-bottom-right bg-light m-1 border rounded toast fade show"
     data-autohide="false"
     style="display: none"
>
    <div class="toast-header border-bottom">
        <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <rect id="notify-rect" width="100%" height="100%" fill="#2ECC40"></rect>
        </svg>
        <strong id="notify-header" class="mr-auto">Success</strong>
        <!--        <small>11 mins ago</small>-->
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close"
                onclick="$('#notify').hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div id="notify-message" class="toast-body">
        Operation was successful finished
    </div>
</div>

<script src="./static/js/jquery-3.3.1.slim.min.js"></script>
<script src="./static/js/popper.min.js"></script>
<script src="./static/js/bootstrap.min.js"></script>
<script src="./static/js/fabric.min.js"></script>
<script src="./static/js/Please.js"></script>
<script src="lib/baselineView.js"></script>
<script>
    var baselines = {};
    const urlParams = new URLSearchParams(window.location.search);
    const unfoldTestId = urlParams.get('unfoldTestId');
    if (unfoldTestId) {
        unfoldCheck(unfoldTestId);
    }

    function unfoldCheck(id) {
        jQuery(`#testchecks_${id}`)[0].scrollIntoView();
        jQuery(`#testchecks_${id}`)
                .collapse('show');
        drawTestChecksPreviews(unfoldTestId);
    }

</script>
<script src="./static/js/bootstrap-toolkit.min.js"></script>
<script src="./static/js/commonEvents.min.js"></script>
</body>
</html>
